<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.codecast.nginx</string>
    <key>ProgramArguments</key>
    <array>
        <string>/opt/homebrew/bin/nginx</string>
        <string>-c</string>
        <string>/Users/ashot/src/codecast/nginx.dev.conf</string>
        <string>-g</string>
        <string>daemon off;</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardErrorPath</key>
    <string>/tmp/codecast-nginx-launchd.err</string>
    <key>StandardOutPath</key>
    <string>/tmp/codecast-nginx-launchd.log</string>
</dict>
</plist>
